@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
p{
    color:teal;
    font-size: 40px;
    font-family: "Lobster" , cursive;
}
body{
	background: #00adb5
}
span{background: red}
h1{
	font-size: 50px;
	color: teal;
	font-family: "Lobster" , cursive;
}


p{
    font-size: 30px;
    color: blue;
	font-family: "Lobster" , cursive;
}
a{
	font-size: 20px;
	text-decoration: none;
	color: blue;
	display: block;
	margin: 20px 50px;
}
img{
	max-width: 70%;
	height: auto;
	display: block;
}
div{
	width: 90%
	margin: auto;
	background-color: gold;
	padding: 70px;
}
    font-family: 'fira sans' ,